.leftArrow,
.rightArrow {
  color: #1c1b1b91;
  padding: 24px 16px;
  font-size: 32px;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
