.carouselContainer {
  width: 250px;
  max-width: 600px;
  height: 350px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
